BasedOnStyle: Microsoft
ColumnLimit: 160
IndentCaseLabels: true
AlignTrailingComments: true
AlignConsecutiveMacros: true
InsertBraces: true
SortIncludes: true

BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: false
  AfterExternBlock: false
  BeforeElse: false
  AfterUnion: true
